* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./imagens/code.jpg);
  font-family: "Poppins", sans-serif;
  color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 55%;
  height: calc(100% - 35px - 35px);
  background-color: #f9f6f6;
  border-radius: 25px;
  margin: 25px;
  padding: 25px;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #363636;
  font-size: 35px;
  font-weight: 700;
  margin: 15px;
  text-transform: uppercase;
  text-align: end;
}

.corvermelha {
  color: tomato;
}

form input,
label {
  display: block;
}

fieldset {
  border: none;
}

select {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #89a39b;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #89a39b;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.divChave {
  display: none;
}

.divChave input {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #89a39b;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.radioCod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

#botaoResultado {
  width: 100%;
  height: 40px;
  border: 1px solid #89a39b;
  box-shadow: 3px 3px #89a39b;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: tomato;
  font-weight: 400;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 35px;
  padding: 10px;
  background-color: #f9f6f6;
  color: tomato;
  text-align: center;
  font-size: 15px;
}
